<div *ngIf="serverService.showAddForm" class="modal-background" (click)="serverService.showAddForm=false"></div>
<div *ngIf="serverService.showAddForm" class="form-container">
  <h3>Add Server</h3>
  <form (ngSubmit)="onSubmit()" #serverAddForm="ngForm">
    <label for="hostname">Hostname</label>
    <input [(ngModel)]="serverModel.hostname" #hostName="ngModel" class="form-control" id="hostName" name="hostName" required>
    <div [hidden]="hostName.valid || hostName.pristine" class="alert alert-danger">
      Hostname is required
    </div>
    <label for="ip">IP</label>
    <input [(ngModel)]="serverModel.ip" class="form-control" id="ip" name="ip" required>

    <label for="deadline">Deadline</label>
    <input [(ngModel)]="serverModel.deadline" class="form-control" id="deadline" name="deadline" placeholder="MM/DD/YYYY H:m"
      required/>

    <label for="description">Description</label>
    <input [(ngModel)]="serverModel.description" multiple class="form-control" id="description" name="description" required>

    <button class="btn btn-success" [disabled]="!serverAddForm.form.valid" type="submit">Add Server</button>
  </form>
</div>